  {%extends 'index.html'%}
  {% load crispy_forms_tags %}
{%load static%}



    {% block titlee %}
       single product

     {% endblock titlee %}



     {% block description %}
     {{setting.description}}

        {% endblock description %}


        {% block keyword %}

        {% endblock keyword %}



            {% block header %}
                {% include "header.html" %}
            {% endblock header %}


             {% block another_content %}




{% block title %}Password reset{% endblock %}
{% block content %}
<h1>Password set</h1>
<p>Your password has been set. You can <a href="{%url 'user_login'%}">log in now</a></p>
{% endblock %}

  {% endblock another_content %}




                    {% block footer %}

            {% include "footer.html" %}

            {% endblock footer %}